<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapabc.signal.dao.mapper.TBaseCrossPhasePlanMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mapabc.signal.dao.model.TBaseCrossPhasePlan">
        <id column="id" property="id"/>
        <result column="crossid" property="crossid"/>
        <result column="signaltype" property="signaltype"/>
        <result column="signalid" property="signalid"/>
        <result column="phaseplanid" property="phaseplanid"/>
        <result column="pahseplandesc" property="pahseplandesc"/>
        <result column="phaseid" property="phaseid"/>
        <result column="phasename" property="phasename"/>
        <result column="phasedesc" property="phasedesc"/>
        <result column="direction" property="direction"/>
        <result column="turntype" property="turntype"/>
        <result column="issecond" property="issecond"/>
        <result column="inouttype" property="inouttype"/>
        <result column="dirobjtype" property="dirobjtype"/>
        <result column="mingreentime" property="mingreentime"/>
        <result column="maxgreentime" property="maxgreentime"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <!--基本字段列表-->
    <sql id="Base_Column_List">
        id,
        crossid,
        signaltype,
        signalid,
        phaseplanid,
        pahseplandesc,
        phaseid,
        phasename,
        phasedesc,
        direction,
        turntype,
        issecond,
        inouttype,
        dirobjtype,
        mingreentime,
        maxgreentime,
        gmt_create,
        gmt_modified
    </sql>

</mapper>
