<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapabc.signal.dao.mapper.TCrossLightsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mapabc.signal.dao.model.TCrossLights">
        <result column="id" property="id"/>
        <result column="lightsid" property="lightsid"/>
        <result column="lightgroupno" property="lightGroupNo"/>
        <result column="directioncode" property="directionCode"/>
        <result column="wkt" property="wkt"/>
        <result column="lightType" property="lightType"/>
    </resultMap>

    <!--基本字段列表-->
    <sql id="Base_Column_List">
        id,
        lightsid,
        lightgroupno,
        directioncode,
        wkt,
        lightType
    </sql>

</mapper>
